@import "tailwindcss";

@fontface {
  font-family: "IBM Plex Sans";
  src: url('/fonts/IBMfont/IBMPlexSans-VariableFont_wdth,wght.ttf');
}

@theme {
  --cor-primaria: #143fec;
  --cor-fundo: #f5f5ff;
  --cor-fundo-secundaria: #ffffff;
  --cor-texto: #242933;
  --cor-borda: #dfe1e6;

  --fonte-principal:"IBM Plex Sans", sans-serif;
}

body {
  background-color: var(--color-fundo);
  color: var(--color-primaria);
  font-family: var(--font-principal);
}