@import "tailwindcss";

@font-face {
  font-family: "IBM Plex Sans";
  src: url('/fonts/IBMfont/IBMPlexSans-VariableFont_wdth,wght.ttf');
}

@theme {
  --color-primaria: #143fec;
  --color-fundo: #f5f5ff;
  --color-fundo-secundaria: #ffffff;
  --color-texto: #242933;
  --color-borda: #dfe1e6;

  --font-principal:"IBM Plex Sans", sans-serif;
}

body {
  background-color: var(--color-fundo);
  color: var(--color-primaria);
  font-family: var(--font-principal);
}